<a href="https://colab.research.google.com/github/ben3amer/Machine_Learning/blob/main/TP1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

#1- Créer Un DataFrame en utilisant les données de fichier ‘’market_basket.txt’’ qui contient les identifiants des caddies et les produits associées.
import pandas as pd
import numpy as np
import itertools
url="https://drive.google.com/file/d/1auRWyLlJ1vbzjQDBIDLknMSeCJJxV3EC/view?usp=sharing"
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
data = pd.read_csv(url,sep="\t")
data.sort_values(by=['ID'], inplace=True)
# 2-Afficher les 10 premières lignes du DataFrame.
data[:10]

    ID        Product
0    1        Peaches
1    2  Vegetable_Oil
2    2    Frozen_Corn
3    3          Plums
4    4    Pancake_Mix
5    5         Cheese
6    6    Cauliflower
7    7      2pct_Milk
24   8           Salt
23   8    Baked_Beans

In [2]:
# 3 -Afficher les dimensions du dataframe.
data.shape

(12935, 2)

In [3]:
# 4-Écrire un script python qui permet de Construire un table binaire indiquant la présence de chaque produit au niveau des caddies (True:1 si le produit est présent dans le caddie et 0 dans le cas réciproque).
col=data['Product'].sort_values().unique()
lig=data['ID'].unique()

In [5]:
matrix=np.zeros((len(lig),len(col)))
k=0
for i in lig:
  df=data[data["ID"]==i]
  a=0
  for j in col:
    if df['Product'].str.contains(j).any():
      matrix[k][a]=1
    a=a+1
  k=k+1

df = pd.DataFrame(matrix, index=lig,columns=col)
df

,100_Watt_Lightbulb,2pct_Milk,40_Watt_Lightbulb,60_Watt_Lightbulb,75_Watt_Lightbulb,98pct_Fat_Free_Hamburger,AA_Cell_Batteries,Apple_Cinnamon_Waffles,Apple_Drink,Apple_Fruit_Roll,...,White_Bread,White_Wine,White_Zinfandel_Wine,Whole_Corn,Whole_Green_Beans,Whole_Milk,Window_Cleaner,Wood_Polish,flav_Fruit_Bars,flav_Ice
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1358,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1359,0.0,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
1360,1.0,0.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0
1361,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:

# 5 -Tester la bibliothèque pandas.crosstab pour construire la table binaire et vérifier que vous avez les mêmes résultats de votre script.
df=pd.crosstab(data['ID'],data['Product'])
df

Product,100_Watt_Lightbulb,2pct_Milk,40_Watt_Lightbulb,60_Watt_Lightbulb,75_Watt_Lightbulb,98pct_Fat_Free_Hamburger,AA_Cell_Batteries,Apple_Cinnamon_Waffles,Apple_Drink,Apple_Fruit_Roll,...,White_Bread,White_Wine,White_Zinfandel_Wine,Whole_Corn,Whole_Green_Beans,Whole_Milk,Window_Cleaner,Wood_Polish,flav_Fruit_Bars,flav_Ice
ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1357,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1358,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1359,0,1,1,1,0,1,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
1360,1,0,0,1,0,1,1,1,1,0,...,1,0,1,0,0,1,0,0,1,1
1361,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# 6-Afficher les 30 premières transactions et les 3 premiers produits.
df.iloc[:3,:30]

Product,100_Watt_Lightbulb,2pct_Milk,40_Watt_Lightbulb,60_Watt_Lightbulb,75_Watt_Lightbulb,98pct_Fat_Free_Hamburger,AA_Cell_Batteries,Apple_Cinnamon_Waffles,Apple_Drink,Apple_Fruit_Roll,...,Bananas,Beef_Hot_Dogs,Beef_Jerky,Beef_Soup,Beets,Black-eyed_Peas,Blueberry_Bagels,Blueberry_Muffins,Blueberry_Waffles,Blueberry_Yogurt
ID,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# 7-Écrire un script python de la fonction a_priori() qui permet l’extraction des itemsets les plus fréquents. ( on définit un min_supp=0.025 et un longueur maximum de 4 produits)

nbr_max_produit=2 #nbr max doit etre 4 mais ça sature la mémoire
def ExtractItemset(df, n):
    return list(itertools.combinations(df, n))

def CalculSupport (df,subsets,n):
  tab=[]
  k=0
  for i in subsets:
    subset=df[list(i)]
    w=subset[subset.sum(axis='columns')==n].count()
    tab.append(w[0])
    k=k+1
  return(tab)

#main
min_supp=0.025*len(lig)
for i in range(1,nbr_max_produit+1):
  itemset=ExtractItemset(col,i)
  Support=CalculSupport(df,itemset,i)
  ff= pd.DataFrame(itemset)
  sup=pd.DataFrame(Support)
  sup.columns=['Support']# Rename the sup colonne
  frame=[ff,sup]# Concat the itemset with their supports
  F=pd.concat(frame,axis=1)
  C=F[F["Support"]>min_supp] #filter with min_sup condition 
  print("C",i)
  print(C)

C 1
                            0  Support
0          100_Watt_Lightbulb       41
1                   2pct_Milk      149
3           60_Watt_Lightbulb       51
4           75_Watt_Lightbulb       43
5    98pct_Fat_Free_Hamburger      127
..                        ...      ...
295      White_Zinfandel_Wine       42
296                Whole_Corn       42
298                Whole_Milk       48
301           flav_Fruit_Bars       53
302                  flav_Ice       51

[192 rows x 2 columns]

In [ ]:
def Regle(item):
  it=item[:-1]
  for i in range(1,nbr_max_produit):
    List=ExtractItemset(it,i)
    PremisList=List[:-i]
    CclList=List[i:]
    PremisSupport=CalculSupport(df,PremisList,i)
    TotalSupport=CalculSupport(df,[it],nbr_max_produit)
  return(PremisList,CclList,np.array(TotalSupport)/np.array(PremisSupport))



AprioriRes=[]
k=0
for i in C.index:
  k=k+1
  ligne=list(C.loc[i,:])
  Premis,Ccl,Confidence=Regle(ligne)
  print('Regle :',Premis,' -> ',Ccl,' With confidence',Confidence)

In [ ]:

from mlxtend.frequent_patterns import apriori, association_rules

frq_items = apriori(df, min_support = 0.025, use_colnames = True)
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head())

In [ ]:

# 8-Afficher les 15 premiers itemsets.
rules[:15]

In [ ]:

# 9-Ecrire une fonction is_inclus() qui permet de vérifier si un sous-ensemble items est inclus dans l’ensemble x.
def is_inclus(_subset,_set):
  if len(_subset)>len(_set):
    return(False)
  for i in _subset:
    if not(i in _set):
      return(False)
  return(True)
print(is_inclus(['imen','boukhari'],['imen','boukhari','3IDL']))

In [ ]:
# 10- Afficher les itemsets comprenant le produit ‘Aspirin’.
Rules_itemset=[list(a)+list(c) for a,c in zip(rules['antecedents'],rules['consequents'])]
for i in Rules_itemset:
  if is_inclus(['Aspirin'],i):
    print(i)

In [ ]:
#11-Afficher les itemsets contenant Aspirin et Eggs.
for i in Rules_itemset:
  if is_inclus(['Aspirin','Eggs'],i):
    print(i)

In [ ]:

#12-Nous produisons les règles à partir des itemsets fréquents. Elles peuvent être très nombreuses,nous en limitons la prolifération en définissant un seuil minimal (min_threshold = 0.75) sur une mesure d’intérêt, en l’occurrence la confiance dans notre exemple (metric = ‘’confidence’’). 
rules = association_rules(frq_items, metric ="confidence", min_threshold = 0.75)

In [ ]:

# 13-Afficher les 5 premières règles.
rules[:5]

In [ ]:

# 14-Filtrer les règles en affichant celles qui présentent un LIFT supérieur ou égal à 7.
rules[rules.lift>7]

In [ ]:

#15-Filtrer les règles en affichant celles menant au conséquent {‘2pct_milk’}.
rules[rules.consequents.str.contains('2pct_Milk', na=False)]